.hyParams{
    display: table;
    /*width: 100%;*/
    border: 1px solid #999999;
    padding: 12px 20px;

    /*margin-left:200px;*/
}

.varaible {
    padding: 5px;
    height: 28px;
    border: 1px solid darkgrey;
    padding: 3px 10px;
    background-color: ghostwhite;
}

.varName {
    width: 400px;
    vertical-align: super;

}

.varInfo div {
    vertical-align: top;
    /*margin-left: 10px;*/
}

.varSelect select{
    width: 220px;
}
.varSelect input{
    width: 220px;
}

/*button{*/
    /*margin-top: 20px;*/
    /*margin-left: 200px;*/
/*}*/

p{
    /*margin-left: 200px;*/
    max-width: 500px;
    text-align: justify;

}

li{
    /*margin-left: 200px;*/
    max-width: 500px;
}
body{
    margin-left: 200px;
    max-width: 780px;
}

.sam{
    float:  right;
}