.hyParams{
    display: table;
    /*width: 100%;*/
    border: 1px solid #999999;
    padding: 12px 20px;

    /*margin-left:200px;*/
}

.varaible {
    padding: 5px;
    height: 28px;
    border: 1px solid darkgrey;
    padding: 3px 10px;
    background-color: ghostwhite;
    width:660px;
}

.varName {
    width: 400px;
    vertical-align: super;

}

.varInfo div {
    vertical-align: top;
    margin-left: 5px;
    /*margin-left: 10px;*/
}

.varSelect select{
    width: 200px;
}
.varSelect input{
    width: 170px;
}

/*button{*/
    /*margin-top: 20px;*/
    /*margin-left: 200px;*/
/*}*/

p{
    /*margin-left: 200px;*/
    max-width: 400px;
    text-align: justify;

}

li{
    /*margin-left: 200px;*/
    max-width: 500px;
}
body{
    margin-left: 200px;
    width: 780px;
}

.sam{
    float:  right;
    height: 300px;
    /*width: 240px;*/
    margin-right: 50px;
}

.information{
    height: 400px;
}